// COLORES

$bordo : #410009;
$rojo : #ba1616;
$rojoClaro : #c4001d;
$bordoClaro :#820013;
$blanco : #ffffff;
$negro : #000000;
$gris : #212529;
$warning : #FF8E00;
$view: #2D4263;
$delete : #C84B31;
$success : #1C7947;


// Fuentes

$ptSans : 'PT Sans', sans-serif;
$poppins : 'Poppins', sans-serif;
$blackOps : 'Black Ops One', cursive;
$anton : 'Anton', sans-serif;

// font weight


$regular : 400;
$normal : 700;
$bold : 900;

// Resoluciones de Pantallas (Media Queries)

$phone : 448px;

$tablet :768px;

$desktop : 1280px;